input {
  border: 1px solid var(--border);
  background-color: var(--card-bg);
  border-radius: 10px;
  padding: 0.7em;
  margin-bottom: 1em;
  margin-top: 0.3em;
  color: var(--text);
  width: 100%;
  font-size: 20px;
  box-sizing: border-box
}

input:focus{
  outline: none;
  border-color: var(--text-secondary);
}

img {
  height: 30px;
  margin-right: 0.3em;
  margin-left: 0.2em;
}

span {
  margin-left: 0.2em;
}


.description {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size:20px;
}
