.container {
  display: flex;
  background-color: var(--text);
  color: var(--text-inverted);
  width: max-content;
  border-radius: 1000px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  align-items: center;
}

span {
  padding-left: 0.1em;
  padding-right: 0.5em;
}

.led {
  height: 1em;
  width: 1em;
  border-radius: 1000px;
  margin: 0.125em 0.125em 0.125em 0.2em;
}

.orange {
 background-color: var(--status-orange);
}

.green {
  background-color: var(--status-green);
}

.red {
  background-color: var(--status-red);
}
